<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my form</title>
     <%- include('./templates/headerBootstrap')-%>
</head>
<body>

<div class="container">
    <form id="contact-form" action="" method="POST" novalidate="novalidate" autocomplete="on">
      <div class="form-group">
        <label for="firstname">* first Name:</label>
        <input type="text" name="firstname" id="firstname" class="form-control">
      </div>
       <div class="form-group">
        <label for="lastname">* last Name:</label>
        <input type="text" name="lastname" id="lastname" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">* Email:</label>
        <input type="email" name="email" id="email" class="form-control">
      </div>
      <button type="submit" name="submit" value="Contact Me" class="btn btn-primary">Contact Me!</button>
    </form>
</div>




    <%- include('./templates/footerBootstrap')-%>
</body>
</html>